language: c

os: linux

dist: focal

jobs:
  include:
    # test gcc across architectures on file default (focal)
    - arch: amd64
      compiler: gcc
    - arch: ppc64le
      compiler: gcc
    - arch: arm64
      compiler: gcc
    # test clang on amd6 on file default (focal)
    - arch: amd64
      compiler: clang
    # test gcc on amd64 acrosss older versions
    - arch: amd64
      compiler: gcc
      dist: bionic
    - arch: amd64
      compiler: gcc
      dist: xenial
    - arch: amd64
      compiler: gcc
      dist: trusty

env:
  global:
    - MAKEFLAGS="-j 2"

install:
  - autoreconf --install

script:
  - ./configure && make
  - src/detox -V
  - tests/test.sh src/detox
