# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1

executors:
  docker: # Docker using the Base Convenience Image
    docker:
      - image: cimg/base:stable
  linux: # a Linux VM running Ubuntu 20.04
    machine:
      image: ubuntu-2004:current
  macos: # macos executor running Xcode
    macos:
      xcode: 12.5.1

# Define a job to be invoked later in a workflow.
jobs:
  build:
    parameters:
      os:
        type: executor
    executor: << parameters.os >>
    steps:
      - checkout
      - run:
          name: "autoreconf"
          command: "autoreconf --install"
      - run:
          name: "configure"
          command: "./configure"
      - run:
          name: "make"
          command: "make"
      - run:
          name: "simple test"
          command: "./bin/simple-test.sh"
      - run:
          name: "install"
          command: "sudo make install"

  build-macos:
    macos: # macos executor running Xcode
      xcode: 12.5.1
    steps:
      - checkout
      - run:
          name: "autoreconf (fails once)"
          command: "autoreconf || true"
      - run:
          name: "autoreconf"
          command: "autoreconf --install"
      - run:
          name: "configure"
          command: "./configure"
      - run:
          name: "make"
          command: "make"
      - run:
          name: "simple test"
          command: "./bin/simple-test.sh"
      - run:
          name: "install"
          command: "sudo make install"

  test:
    # Specify the execution environment. You can specify an image from Dockerhub or use one of our Convenience Images from CircleCI's Developer Hub.
    # See: https://circleci.com/docs/2.0/configuration-reference/#docker-machine-macos-windows-executor
    docker:
      - image: cimg/base:stable
    # Add steps to the job
    # See: https://circleci.com/docs/2.0/configuration-reference/#steps
    steps:
      - checkout
      - run:
          name: "install"
          command: "sudo apt update && sudo apt install -y check"
      - run:
          name: "autoreconf"
          command: "autoreconf --install"
      - run:
          name: "configure"
          command: "./configure --with-check"
      - run:
          name: "make"
          command: "make"
      - run:
          name: "check"
          command: "make check"
      - run:
          name: "distcheck"
          command: "make distcheck"

# Invoke jobs via workflows
# See: https://circleci.com/docs/2.0/configuration-reference/#workflows
workflows:
  workflow:
    jobs:
      - build:
          matrix:
            parameters:
              os: ["docker", "linux"]
      - build-macos
      - test
