# check output
*.log
*.trs

# specific files
test_clean_iso8859_1
test_clean_iso8859_1_cp1252
test_clean_lower
test_clean_max_length
test_clean_safe
test_clean_uncgi
test_clean_utf_8
test_clean_wipeup
test_filelist
test_parse_inline
test_spoof_config_file
test_table_regression
test_table_max_length
test_table_resize
test_wrapped
